body{
    text-align: center;
  
        
        background: linear-gradient(to right, #22323f, #34495e);
      
}
h1{
    
    text-align: center;
    
}
h2{
    text-align: center;
}

.carousel-inner img {
    margin: auto;
    width: 80%;
    
  }

.jumbotron{
    background-color:  #ecf0f1 !important;
}
.carousel-caption {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  position: absolute !important;
  bottom: 0 !important;

}
.aboutSection{
   
    font-size: 1.5rem;
    text-align: center;
    border-radius: 0.4rem;
    background-color: #ecf0f1 !important;
    min-height: 20rem;
}
.supportSection{
   
    font-size: 1.5rem;
    text-align: center;
    border-radius: 0.4rem;
    background-color: #ecf0f1 !important;
    min-height: 10rem;
}
a{
    font-weight: bold;
    
    
}
